@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">User management</h1>
</div>
<div class="toolbar">
    <input type="button" id="block"
           value="Block" />
    <input type="button" id="unblock" class="btn add btn-success"
           value="Unblock" />
    <input type="button" id="delete" class="btn edit btn-danger"
           value="Delete" />
</div>
<br /><br />
<table id="UsersTable" border="1" cellpadding="10">
    <tr>
        <th><input type="checkbox" id="checkAll" /></th>
        <th>Id</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Registration Date</th>
        <th>Last Login Date</th>
        <th>Status</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <input type="checkbox" class="checkBox"
                       value="@user.Id" />
            </td>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.RegisterDate</td>
            <td>@user.LastLoginDate</td>
            <td>@user.Status</td>
        </tr>
    }
</table>

@section scripts{
    @* Normal *@
<script>
        $(document).ready(function () {

            $("#checkAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop('checked'));
            });

            $("#delete").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                var options = {};
                options.url = "/home/delete";
                options.type = "POST";
                options.data = { selectedIDs: selectedIDs };
                options.success = function (json) {
                    if (json.isRedirect) { window.location.href = json.redirectUrl; }
                };
                $.ajax(options);
            });
            $("#block").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                var options = {};
                options.url = "/home/block";
                options.type = "POST";
                options.data = { selectedIDs: selectedIDs };
                options.success = function (json) {
                    if (json.isRedirect) { window.location.href = json.redirectUrl; }
                };
                $.ajax(options);
            });
            $("#unblock").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                var options = {};
                options.url = "/home/unblock";
                options.type = "POST";
                options.data = { selectedIDs: selectedIDs };
                options.success = function (json) {
                    if (json.isRedirect) { window.location.href = json.redirectUrl; }
                };
                $.ajax(options);
            });
        });
</script>
}